@{
    ViewBag.Title = "Chris Wallace";
}
<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p>Accomplished and certified software development professional with 5 years experience leading development teams using agile methodologies and 10 years experience delivering Web and Windows based solutions by leveraging the .NET framework.  Exceptional analysis and development skills with extensive experience in C#, ASP.NET, WinForms/WPF/Windows Services, XML and Microsoft SQL Server with a proven track record delivering quality results.  An effective communicator with excellent interpersonal, managerial and organizational skills.</p>
    </div><!--//summary-->
</section><!--//section-->

<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Development Manager</h3>
                <div class="time">May 2014 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Financial Software Limited - London, UK</div>
        </div><!--//meta-->
        <div class="details">
            <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Development Lead (Contract)</h3>
                <div class="time">Jan 2014 - Feb 2014</div>
            </div><!--//upper-row-->
            <div class="company">helloU - London, UK</div>
        </div><!--//meta-->
        <div class="details">
            <p>Brought in for a short-term contract role to evaluate HelloU’s technology stack and assist their team with changing the underlining technology in order to support the new business direction.  Supported the previous technology during the transformation.</p>

            <p>Successfully implemented a Wordpress site effectively allowing HelloU to triple their traffic at less than half their costs.  Allowed the front-end developers to rapidly provide functionality without a lot of development effort or time.  As well as enabled the content writers to add new posts without any involvement from the development team.</p>

            <p>Implemented continuous deployment system with Jenkins in order to automate and improve the process of software delivery.  Provided structure and visibly into the development process using Kanban.</p>

        </div><!--//details-->
    </div><!--//item-->

    <div class="item wow">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Technical Team Lead</h3>
                <div class="time">Nov 2012 - Nov 2013</div>
            </div><!--//upper-row-->
            <div class="company">Fourth - London, UK</div>
        </div><!--//meta-->
        <div class="details">
            <p>Managed a group of 9 developers, responsible for the technical leadership, stakeholder management, Scrum Master role and delivery of a Labour (HR & Rota) module of a SaaS product for the hospitality industry.  Co-founded an initiative for the adoption of Agile methodologies and modern software practices such as TDD, BDD, automated testing and CI/CD across the technology division.</p>

            <p>Successfully championed with both technical and non-technical stakeholders the benefits of TDD and worked closely with the team to create a plan for adoption around one of the more problematic and difficult areas of code that included applying SOLID principles to create a loosely coupled application architecture, cross team resource up-skilling, group as well as peer code reviews, and progress reporting.</p>

            <p>Created two interdisciplinary project Scrum teams and a maintenance Kanban team on my second day to demonstrate and set realistic expectations of scope with the product management team.  Worked closely by providing coaching and guidance with 13 other delivery teams to rollout Agile across the technology division.</p>

            <p>Setup a Continuous Integration and Delivery system using Jekins, msbuild and msdeploy which reduced the number of deployment defects to nearly zero and the UAT phase from 4 weeks to less than a week.</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->

<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro wow">
        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
    </div><!--//intro-->
    <div class="item wow">
        <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>

    </div><!--//item-->
    <div class="item wow">
        <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">DevStudio</a></span> -
        <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
    </div><!--//item-->
    <div class="item wow">
        <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
    </div><!--//item-->
    <div class="item wow">
        <span class="project-title"><a href="hhttp://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
    </div><!--//item-->
    <div class="item wow">
        <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
    </div><!--//item-->
</section><!--//section-->

<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset wow">
        <div class="item">
            <h3 class="level-title">Python &amp; Django</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Javascript &amp; jQuery</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Angular</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Ruby on Rails</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="85%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Sketch &amp; Photoshop</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

    </div>
</section><!--//skills-section-->