@{
    ViewBag.Title = "Chris Wallace";
}

<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-info"></i>Objective</h2>
    <div class="summary">
        <p>A position as a Development Manager/Technical Team Lead where my technical strengths and leadership skills will be utilized to deliver .NET solutions that support challenging and interesting corporate goals.</p>
    </div><!--//summary-->
</section><!--//section-->

<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p>Accomplished and certified software development professional with 5 years experience leading development teams using agile methodologies and 10 years experience delivering Web and Windows based solutions by leveraging the .NET framework.  Exceptional analysis and development skills with extensive experience in C#, ASP.NET, WinForms/WPF/Windows Services, XML and Microsoft SQL Server with a proven track record delivering quality results.  An effective communicator with excellent interpersonal, managerial and organizational skills.</p>
    </div><!--//summary-->
</section><!--//section-->

<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset wow">
        <div class="item">
            <h3 class="level-title">Managing</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Agile Methodologies</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">C# &amp; .NET</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Javascript &amp; jQuery</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="85%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Angular</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="58%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Ruby on Rails</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="5%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Sketch &amp; Photoshop</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

    </div>
</section><!--//skills-section-->

<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>


    <div class="item wow">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Development Manager</h3>
                <div class="time">May 2014 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Financial Software Limited - London, UK</div>
        </div><!--//meta-->
        <div class="details">
            <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item wow">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Development Lead (Contract)</h3>
                <div class="time">January 2014 - February 2014</div>
            </div><!--//upper-row-->
            <div class="company">helloU - London, UK</div>
        </div><!--//meta-->
        <div class="details">
            <p>Brought in for a short-term contract role to evaluate HelloU’s technology stack and assist their team with changing the underlining technology in order to support the new business direction.  Supported the previous technology during the transformation.</p>

            <ul>
                <li>Successfully implemented a Wordpress site effectively allowing HelloU to triple their traffic at less than half their costs.  Allowed the front-end developers to rapidly provide functionality without a lot of development effort or time.  As well as enabled the content writers to add new posts without any involvement from the development team.</li>
                <li>Implemented continuous deployment system with Jenkins in order to automate and improve the process of software delivery.  Provided structure and visibly into the development process using Kanban.</li>
            </ul>

        </div><!--//details-->
    </div><!--//item-->

    <div class="item wow">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Technical Team Lead</h3>
                <div class="time">November 2012 - November 2013</div>
            </div><!--//upper-row-->
            <div class="company">Fourth - London, UK</div>
        </div><!--//meta-->
        <div class="details">
            <p>Managed a group of 9 developers, responsible for the technical leadership, stakeholder management, Scrum Master role and delivery of a Labour (HR & Rota) module of a SaaS product for the hospitality industry.  Co-founded an initiative for the adoption of Agile methodologies and modern software practices such as TDD, BDD, automated testing and CI/CD across the technology division.</p>

            <ul>
                <li>Successfully championed with both technical and non-technical stakeholders the benefits of TDD and worked closely with the team to create a plan for adoption around one of the more problematic and difficult areas of code that included applying SOLID principles to create a loosely coupled application architecture, cross team resource up-skilling, group as well as peer code reviews, and progress reporting.</li>

                <li>Created two interdisciplinary project Scrum teams and a maintenance Kanban team on my second day to demonstrate and set realistic expectations of scope with the product management team.  Worked closely by providing coaching and guidance with 13 other delivery teams to rollout Agile across the technology division.</li>

                <li>Setup a Continuous Integration and Delivery system using Jekins, msbuild and msdeploy which reduced the number of deployment defects to nearly zero and the UAT phase from 4 weeks to less than a week.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item wow">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Senior .NET Developer</h3>
                <div class="time">September 2010 - October 2011</div>
            </div><!--//upper-row-->
            <div class="company">Livedrive - London, UK</div>
        </div><!--//meta-->
        <div class="details">
            <p>Working mainly within the operations team, responsible for the stability and performance in the Windows Desktop Client, Corporate and Portal web sites as well as the backend services.</p>

            <ul>
                <li>Provided a high-level of professionalism and organization including taking ownership of a project which was slipping from its deadline, strongly advocating and getting adopted a ticket tracking system for defects and new feature requests, and working closely with the Support Team to resolve issues.</li>

                <li>Implemented a number of new features including NAS backup support in the Windows Client, complete white-labeling of the Windows Client as well as assisting with the UI in the Reseller’s Portal.</li>

                <li>Investigated and provided recommendations performance issues including inter-service communication as well as database load and optimizations.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item wow">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Development Team Lead / Solutions Architect</h3>
                <div class="time">April 2008 - September 2010</div>
            </div><!--//upper-row-->
            <div class="company">Cognitive Media - Guelph, CA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Responsible for the underlying architecture and for managing a small team of full time developers, contractors and designers by employing agile methods and practices.  Work closely with management, development and technical leads in other departments and external partners to serve as a technical adviser providing a development perspective on requirements, and to deliver solutions quickly and in line with business goals.</p>

            <ul>
                <li>Supported approximately 50% of all companywide traffic which accounts for upwards of 60% of all gross profit.  Challenged with supporting double the traffic capacity, originally forecasted to be reached by end of year, successfully planned and lead an aggressive migration and expansion of infrastructure between data centers in 2 months.</li>

                <li>Led and key contributor to the vision of a real-time traffic analysis and decision engine to detect click fraud and undesirable traffic for impression based ads.  The system also allows both outside partners and proprietary web site framework to provide customized user experience based on geo-location, web browser and plug-in information, historical user actions, IP address allocation and ranges, and traffic pattern signatures.</li>

                <li>Anticipated the need for, provided the feature set, designed and managed development for a Partner Management System, which allows external partners and internal employees to manage site configuration and access real-time statistics, daily diagnostic and financial reports.  The system was integral part in supporting 3 times the number of partners after 6 months than originally budgeted for the year.</li>

                <li>Led development of a site builder for proprietary web site framework allowing designers, editors and writers to create dynamic web sites with minimal intervention from the development groups.</li>

                <li>Requested to remain an integral member of the team as a Senior Developer to provide direction and product enhancements after relocating to the United Kingdom.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item wow">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Development Team Lead</h3>
                <div class="time">May 2007 - March 2008</div>
            </div><!--//upper-row-->
            <div class="company">Moxy Media - Guelph, CA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Managing a small team consisting of full time employees and contractors using SCRUM principles and methods as well as being hands-on to deliver solutions quickly and effectively in order to provide and test new business models and ideas.</p>

            <ul>
                <li>Architected and developed a highly scalable, high availability platform for client-facing web sites (sustaining 40,000 hits per 5 minutes) and back office systems (approximately a terabyte of new data incrementally every 6 months) by leveraging Microsoft solutions from C# and the .NET framework to SQL Server 2005, SQL Server Reporting Services and SQL Server Analysis Services.</li>

                <li>Worked alongside managers and technical leads of other divisions to integrate new ideas and methods supporting company-wide initiatives; liaise with external partners to provide technical guidance and assistance with scalability.</li>

                <li>Advocated for and designed systems to assist in automation of traffic analysis, alerting to KPIs and providing potential areas for expansion in order to provide daily action items as well as summary views for Web Masters and the Search Engine Marketing team to permitting them support a larger number of web sites.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item wow">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">.NET Solutions Architect</h3>
                <div class="time">August 2005 - May 2007</div>
            </div><!--//upper-row-->
            <div class="company">Geosign - Guelph, CA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Worked in conjunction with team leads to provide technical and feature development guidance for an online local search engine (www.truelocal.com).</p>

            <ul>
                <li>Initiated, developed and documented a local search framework using an open-source information retrieval library in C# to produce a highly scalable and cost effective solution over the existing implementation using MS SQL Server 2000 Full Text search.</li>

                <li>Personally requested by the CTO out of more than 30 developers to work on a highly confidential project; delivered a highly available and modular solution in a very aggressive timeframe.</li>

                <li>Continued troubleshooting and resolution on company-wide development issues requiring escalation above individual development teams.</li>

                <li>Provided a leadership and mentoring role while defining the solution architecture for an online web search engine with a local bias (www.goto.com).</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item wow">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">.NET Web Developer</h3>
                <div class="time">August 2005 - May 2007</div>
            </div><!--//upper-row-->
            <div class="company">Geosign - Guelph, CA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Provided high-availability front-end web controls to be employed on over 300 web sites with over 35 million unique visitors a month.</p>

            <ul><li>Analyzed, designed, developed, documented and tested database driven front-end web controls ranging from content management to an advertising delivery system using C#, ASP.NET and ADO.NET for high traffic sites whose uptime was directly related to company revenue.</li></ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item wow">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Developer</h3>
                <div class="time">March 2002 - August 2005</div>
            </div><!--//upper-row-->
            <div class="company">The Working Centre - Kitchener, CA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Provided internal software development and software customizations.</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->

<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro wow">
        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
    </div><!--//intro-->
    <div class="item wow">
        <span class="project-title"><a href="#hook">MotoBays</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>

    </div><!--//item-->
    <div class="item wow">
        <span class="project-title"><a href="http://foodie.st" target="_blank">Foodie.St</a></span> -
        <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
    </div><!--//item-->
</section><!--//section-->
